<div class="container">
  <h2>Lista de Festivos</h2>
  <mat-form-field appearance="fill">
    <mat-label>Año</mat-label>
    <input matInput [(ngModel)]="anio" type="number" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="obtenerFestivos()">Obtener Festivos</button>

  
  <ngx-datatable
  *ngIf="festivos && festivos.length > 0"
  class="material centered"
  [rows]="festivos"
  [columns]="[
    { prop: 'festivo', name: 'Festivo', width: 150 }, 
    { prop: 'fecha', name: 'Fecha', width: 150 }
  ]"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [columnMode]="modoColumna.force"
  [limit]="10">
</ngx-datatable>
</div>
