/* Estilos generales para la aplicación */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  background: url('assets/colombia-bg.jpg') no-repeat center center fixed;
  background-size: cover; /* Degradado de amarillo, azul y rojo */
  color: #fff; /* Texto blanco para destacar en los colores */
}

/* Estilo para el toolbar */
mat-toolbar {
  background-color: rgba(0, 73, 182, 0.8); /* Azul de la bandera con opacidad */
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Estilo para el menú de navegación */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 73, 182, 0.8); /* Azul bandera con opacidad */
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer; /* Asegura que los enlaces parezcan clicables */
}

nav a.active {
  color: #ffe800; /* Amarillo bandera */
  border-bottom: 2px solid #ffe800; /* Línea inferior amarilla */
}

nav a:hover {
  color: #ffe800; /* Amarillo bandera */
}

/* Estilo para el contenido principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 90vh;
  gap: 20px;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo negro semitransparente */
  border-radius: 10px; /* Opcional: bordes redondeados */
  color: #fff; /* Color blanco para el texto */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Opcional: sombra */
}

h1, h2 {
  margin: 16px 0;
}

/* Estilo para los botones */
button {
  margin: 8px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  background-color: #ffe800; /* Amarillo */
  color: #000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #ffd700; /* Un amarillo más claro al pasar el mouse */
  cursor: pointer;
}
